{% extends 'app.html' %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for movie in movies_list %}

                <div class="col">
                    <div class="card h-100">
                    <img src="{{movie.img.url}}" class="card-img-top" height="250">
                    <div class="card-body">
                        <h5 class="card-title">{{movie.name}}</h5>
                        <p class="card-text" style="height:130px;">{{movie.desc}}</p>
                        <a href="{% url 'movieapp:detail' movie.id %}" class="btn btn-primary">View Details</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Released year {{movie.year}}</small>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock  %}


